
@import url("./main.css");

.day-content-box {
    padding-left:0px !important;
    padding-right: 0px !important;
    height: 120px;
}

/* Field above each calendar box */
.day-content-box .day-header {
    font-size: small;
    font-weight: 600;
    text-align: center;
    color:var(--text-color1);
    margin-top: 10px;
}

/* Sunday, Monday, etc */
.day-content-box .day-of-week {
    padding-top:10px;
    padding-bottom: 15px;
    font-size: large;
    text-align: center;
    color:var(--text-color2)
}

.day-divider {
    position: relative;
    width: 50%;
    left:calc(25%);
    top:-18%;
    border: 1px solid var(--bg3);
}

/* Each calendar square */
.day-report {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    /* padding-bottom: px; */
    background-color: var(--bg1);
    color: var(--text-color1);
    border-radius: 10px;
}

[data-theme=""] .day-report {
    background-color: var(--bg4);
}

/* outline for today square */
.day-report.today {
    border-width: 3px;
    border-color: var(--highlight2);
}

/* hover over calendar day */
.day-report.clickable:hover {
    background-color: var(--bg3) !important;
    color: var(--text-color1) !important;
}

/* Controls the calendar display content "Bench Press", "Overhead Press", ... etc */
.day-report > .day-content-display {
    text-align: center;
    position: relative;
    font-size: small;
    top: -20%;
}

div.activity-day-display.day-content-display > div{
    color:var(--text-color3);
    font-weight: 600;
}

.week-block {
    padding-top: 25px;
    padding-bottom: 10px;
}
