@import url("./themes.css");

:root {
    --navBarWidth: 120px;
    --titleHeight:80px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.page-content-area {
    position:relative;
    width: 100%;
    height: 100%;

    top:var(--titleHeight);
    left:calc(var(--navBarWidth));
    top:calc(var(--titleHeight));
    width:calc(100% - var(--navBarWidth));
    height:calc(100% - var(--titleHeight));
}

/* text colors */
div, th, td {
    color:var(--text-color1)
}

h1, h2, h3, h4, .nav-col > a, hr, div.logged-in-as {
    color:var(--text-color2)
}

div.logged-in-as {
    text-align: center;
}

span.user-name {
    font-weight: 500;
}

tbody {
    background-color: var(--bg1);
}

tbody, td, tfoot, th, thead, tr {
    border-color: var(--bg2) !important;
}

a.nav-link:hover  {
    color:var(--text-color1);
}

.title, .nav {
    z-index: 1;
}

/* background color */
.title, .nav, .page-content-area, .page, .table-colored .empty-cell {
    background-color: var(--bg2);
}

.nav, .title {
    background-color: var(--bg1);
}


.name-cell-hover:hover, .rep-cell-hover:hover {
    background-color: var(--bg3);
}
/* Each row */
.page-content.week-report, .page-content.daily-report, .page-content.settings-page, .page-content {
    /* padding-bottom: 50px; */
    padding-bottom: 20px;
    position: relative;
    width: 90%;
}

.page-content.program-page {
    position: absolute;
    width: 100%;
    height: 100%;

}
.page-content-area .table {
    position: relative;
    width: 90%;
    /* left:5% */
}

/* NAVBAR */
.nav-col {
    position: fixed;
    top:0;
    left:0;
    width:var(--navBarWidth);
    height:100%;
    border-right:2px solid var(--bg3);
    padding-top: 20px;
}


.nav-col > hr {
    width:80%;
    position: relative;
    left:10%;
    margin-top:5px;
    margin-bottom: 5px;
}

.nav-link {
    text-align: center;
}

.secondary-title {
    text-align: center;
}

.lift-row{
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.routine-table {
    margin-top:10px;
}

tr.collapse.in {
    display:table-row !important;
}

.subrow {
    pointer-events: none !important;
    opacity: 0.7;
}

.title {
    position: fixed;
    border-bottom: 1px solid var(--bg3);
    color:var(--bg2);
    margin-left:-12px;
    width:100%;
    height:var(--titleHeight);
    left:calc(var(--navBarWidth) + 12px);
    display: flex;
    align-items: center;
    padding-left:20px;
}

.addNew-input::placeholder, .addNew-tags::placeholder {
    text-align: center;
}

.addNew-input, .addNew-tags {
    border-radius: 6px;
    border:0px solid black;
    text-align: center;
    color:rgb(43, 42, 42);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tag {
    font-size: smaller;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.divider.collapsed {
    position: relative;
    width: 10px;
}

.divider {
    position: relative;
    width:auto;
}

.lift-dividers-collapsed {
    /* border-radius: 25px; */
    border-radius: 10px;
    border-spacing: 5px;
    background-color: var(--bg4) !important;
    position: relative;
    height: 5px !important;
}

.day-content {
    position:relative;

    justify-content: center;
    align-items: center;
}

table.table-colored {
    border: 0px solid transparent;
}

.table-colored tbody {
    border-color: var(--bg2);
    border: 0px solid transparent;
}

h1#home-title > a:visited, h1#home-title > a:link, 
h1#home-title > a.user-profile-link:active,
a.user-profile-link:visited, a.user-profile-link:link, a.user-profile-link:hover, a.user-profile-link:active {
    text-decoration: none;
    color:var(--text-color2)
}

h1#home-title > a.user-profile-link:hover {
    color: var(--text-color1) !important;
    text-decoration: none;
}

input.create-new-lift-btn.btn.btn-success {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

#new-lift-name-field {
    text-align: center;
}

#lift-editor {
    position: absolute;
    top:0;
    left:calc(100% - 25vw);
    width:25vw;
    height:100%;
    background-color: var(--bg1);
}