
:root {
    --navBarWidth: 120px;
    --titleHeight:80px;
}

[data-theme='Ardent'] {
    --background: #393D3F;
    --main: #FF4141;
    --highlight1: #DCDCDC;
    --highlight2: #FF5C53;

    --background-opaque:#393d3fc7;
}

[data-theme='Starship'] {
    --highlight2: #E4E4E4;
    --highlight1: #FF582A;
    --main: #E2E0D7;
    --background: #191919;

    --background-opaque:#e4e4e4c4;
}

[data-theme='Sherbet'] {
    --background: #D8BBCA;
    --main: #DDD6B4;
    --highlight1: #D5C8BC;
    --highlight2: #E1E1E1;

    --background-opaque:#d8bbcabe;
}

[data-theme='Atlantic'] {
    --background: #3F4B67;
    --main: #A9BCD0;
    --highlight1: #2e3131;
    --highlight2: #D8D8E2;
    --background-opaque:#3f4b67be;

}

[data-theme='Smoothie'] {
    --main: #1b1a1b;
    --background: #BFD5E2;
    --highlight1: #D5D5D5;
    --highlight2: #BE5DFF;

    --background-opaque:#ffa6f8cb;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.page-content {
    position:relative;
    width: 100%;
    height: 100%;

    top:var(--titleHeight);
    left:calc(var(--navBarWidth));
    top:calc(var(--titleHeight));
    width:calc(100% - var(--navBarWidth));
    height:calc(100% - var(--titleHeight));

    

    background-color: var(--background);
}

tbody, td, tfoot, th, thead, tr {
    border-color: var(--background) !important;
}

.title, .nav {
    z-index: 1;
    background-color: var(--background);
}

.name-cell-hover:hover {
    background-color: var(--highlight2);
}

/* Each row */
.page-content .week-report {
    /* padding-bottom: 50px; */
    background-color: var(--background);
    color:var(--highlight2);
    padding-bottom: 20px;
    position: relative;
    width: 90%;
}

.page-content .table {
    position: relative;
    width: 90%;
    /* left:5% */
}

/* NAVBAR */
.nav-col {
    position: fixed;
    top:0;
    left:0;
    width:var(--navBarWidth);
    height:100%;
    background-color: var(--background);
    border-right:2px solid var(--main);
    padding-top: 20px;
}
.nav-col > a {
    color:var(--main);
}
.nav-col > a:hover {
    color:var(--highlight2);
}
.nav-col > hr {
    color:var(--main);
    width:80%;
    position: relative;
    left:10%;
    margin-top:5px;
    margin-bottom: 5px;
}
.nav-link {
    text-align: center;
}

.secondary-title {
    text-align: center;
}

.lift-row {
    text-align: center;
}


.clickable {
    cursor: pointer;
}

.routine-table {
    margin-top:10px;
}

tr.collapse.in {
    display:table-row !important;
}

.subrow {
    pointer-events: none !important;
    opacity: 0.7;
}



.title {
    position: fixed;
    /* background-color: var(--highlight1); */
    border-bottom: 1px solid var(--highlight2);
    color:var(--main);
    margin-left:-12px;
    width:100%;
    height:var(--titleHeight);
    left:calc(var(--navBarWidth) + 12px);
    display: flex;
    align-items: center;
    padding-left:20px;
}

.addNew-input::placeholder, .addNew-tags::placeholder {
    text-align: center;
}

.addNew-input, .addNew-tags {
    border-radius: 6px;
    border:0px solid black;
    text-align: center;
    color:rgb(43, 42, 42);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tag {
    font-size: smaller;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.divider.collapsed {
    position: relative;
    width: 10px;
}

.divider {
    position: relative;
    width:auto;
}

.lift-dividers-collapsed {
    /* border-radius: 25px; */
    

    border-radius: 10px;
    border-spacing: 5px;
    background-color: rgb(40, 45, 49) !important;
    position: relative;
    height: 5px !important;
}

.day-content {
    position:relative;

    justify-content: center;
    align-items: center;
}

table.table-colored {
    /* background-color: var(--main); */
    border: 0px solid transparent;

}

.table-colored tbody {
    border-color: var(--background);
    border: 0px solid transparent;

}

tbody {
    background-color: var(--main);
}

.table-colored .empty-cell {
    background-color: var(--background) !important;
    border: 0px solid transparent;
}