
[data-theme='Sherbet'] {
    --bg2: #D8BBCA;
    --text-color1: #c2f7cd;
    --bg3: #e4c5a6;
    --text-color2: #E1E1E1;

    --bg1:#ad5e87be;
}
[data-theme='Starship'] {
    --text-color1: #E2E0D7;
    --text-color2: #dce8ff;

    --bg1: #727070;
    --bg4:#7a5292;
    --bg2: #da7f08;
    --bg3:rgb(119, 119, 196);
}
[data-theme='Ardent'] {
    --bg3: #3d4144;
    --text-color2: #fff9f9;
    --text-color1: #c0c5c4;
    --bg2: #e62f29;
    --bg4:#909491;
    --bg1:#252627;
}

[data-theme='Ender'] {
    --bg2: #1b1a1b;
    --bg3: #444444;
    --text-color1: #D5D5D5;
    --text-color2: #BE5DFF;
    --text-color3: #ffffff;


    --bg1:#353535;
    --bg4:#242424;
}

[data-theme="Unicorn"] {
    --text-color2: #b500bb;
    --text-color1: #383838;
    --bg3: #ff499e;
    --bg2: #dfe2ec;
    --bg4: #D264b6;
    --bg1:#539ecf ;
}

[data-theme="Diplomat"] {
    --text-color2: #daba2d;
    --text-color1: #c29d23;
    --bg1: #471a3a;
    --bg3: #632854;

    --bg2: #662b46;
}

[data-theme="Bubblegum"] {
    --text-color1: #8d296d;
    --text-color2: #7c3a7c;
    
    --bg1: #d684aa;
    --bg2:#dedbec ;
    --bg3: #d693ba;
}

[data-theme="Seashell"] {
    --text-color1: #C1DFF0;
    --text-color2: #dff7dc;
    
    --bg1: #284f52;
    --bg2:#3e7e80 ;
    --bg3: #75c0a7;
    --bg4: #095757;
}

[data-theme="Utopia"] {
    --text-color1: #e9e9e9;
    --text-color2: #5cb6c2;
    
    --bg2: #536e92;
    --bg1:#282e52 ;
    --bg3: #1f2e5e;
    --bg4:#29435a;
}